# Env variables setup
# copy env.example to .env to configure

# Your Zendesk domain
ZENDESK_DOMAIN=example.zendesk.com

# Username of your Zendesk account. If used with API token, append /token
ZENDESK_USERNAME=user@company.com

# Your account's password or an API token
ZENDESK_TOKEN=token

# Comma separated IDs of custom ticket fields to display
ZENDESK_FIELDS=1,2,3
